#root {
  width: 100%;
  margin: 0 auto;
}

@keyframes animate-pulse-slow {
  0%, 100% { opacity: 0.4; }
  50% { opacity: 0.8; }
}

.animate-glow {
  animation: animate-pulse-slow 3s infinite ease-in-out;
}